<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div><?php
        /**
         * Copyright © Magento, Inc. All rights reserved.
         * See COPYING.txt for license details.
         */
        
        // @codingStandardsIgnoreFile
        ?>
        <!--popup.php-->
        <div id="_form_placeToPay" style="display:none">  
          <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
       
          <div class="available_franchises">
            <p class="hint">Se aceptan pagos de las siguientes franquicias</p>
            <div class="images">
            <img class="franchise" src="https://dev.placetopay.com/redirection/assets/images/pm/franchise_ID_DN.png" alt="ID_DN">
            <img class="franchise" src="https://dev.placetopay.com/redirection/assets/images/pm/franchise_ID_DS.png" alt="ID_DS">
            <img class="franchise" src="https://dev.placetopay.com/redirection/assets/images/pm/franchise_ID_VS.png" alt="ID_VS">
            <img class="franchise" src="https://dev.placetopay.com/redirection/assets/images/pm/franchise_ID_MC.png" alt="ID_MC">
            </div>
            </div>
        
        
          <table class="hidden-mobile" style="width: 45%;">
            <thead></thead>
            <tbody>
            <tr style="padding: 0px 10px;">
              <td align="left" colspan="2">
                <span>
                <ion-icon name="card"></ion-icon>  Card Number <span class="required">*</span></span>
                <br>
                <input class="input" name="number_card" style="width:100%">
              </td>
            </tr>
            <tr  style="padding: 0px 10px;">
              <td align="left" colspan="1">
                
                <span><ion-icon name="person"></ion-icon>  Name <span class="required">*</span></span>
                <br>
                <input class="input" name="number_card" style="width:100%">
              </td>
        
              <td align="left" colspan="1">
                <span> <ion-icon name="person"></ion-icon> Last Name <span class="required">*</span></span>
                <br>
                <input class="input" name="name_card" style="width:100%">
              </td>
            </tr>
            <tr  style="padding: 0px 10px;">
              <td align="left" colspan="2">
              
              <span><ion-icon name="mail"></ion-icon>   Email <span class="required">*</span></span>
                <br>
                <input class="input" name="email_card" style="width:100%">
              </td>
            </tr>
            <tr  style="padding: 0px 10px;">
              <td align="left" >
                 
                <span><ion-icon name="calendar"></ion-icon>Expiration date<span class="required">*</span></span>
                <br>
                <select id="month" style="width: 46%;border-color: darkgray;margin-top: 3px;"> 
                  <option disabled selected>MM</option>                 
                  <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>
                  <option>6</option> <option>7</option> <option>8</option> <option>9</option> <option>10</option>
                  <option>11</option> <option>12</option>
                </select> / 
                <select id="day" style="width: 44%;border-color: darkgray;margin-top: 3px;"> 
                  <option disabled selected>YY</option>
                  <option>19</option> <option>20</option> <option>21</option> <option>22</option> <option>23</option>
                  <option>24</option> <option>25</option>
                </select>
              </td>
              <td align="left" style="padding-left: 25px;">
                <span><ion-icon name="card"></ion-icon>  Card Code <span class="required">*</span></span>
                <input class="input" name="code_card" maxlength="3" size="11">
              </td>
            </tr>
            
            </tbody>
          </table>
          <div style="margin-bottom: 25px;">
            <div id="placetopay_action_primari" class="action primary" style="float:right;">
              <span data-bind="i18n: 'Place Order'" class="poPlaceToPay">Place Order</span>
            </div>
          </div>
        </div>
        
        <!--end popup.php-->
        <p data-bind="html: getInstructions()"></p>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
        